body {
    background: #050505;
    color: #ffffff;
    font-family: Arial;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.card {
    background: #141414;
    padding: 30px;
    border-radius: 16px;
    width: 520px;
    text-align: center;
    box-shadow: 0 0 25px rgba(0,0,0,0.5);
}

input, button, select {
    width: 100%;
    padding: 14px;
    margin-top: 14px;
    border-radius: 8px;
    border: 1px solid #444;
    background: #222;
    color: #fff;
    font-size: 15px;
}

button, .btn {
    background: #006aff;
    border: none;
    font-weight: bold;
    margin-top: 18px;
    text-decoration: none;
    padding: 14px;
    border-radius: 8px;
    color: white;
    display: inline-block;
}

button:hover, .btn:hover {
    background: #0050c9;
}
